[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/xbsoft
[access "refs/for/refs/*"]
	read = group user/xbsoft
	push = group user/xbsoft
	label-Code-Review = -2..+2 group user/xbsoft
	label-Verified = -1..+1 group user/xbsoft
	rebase = group user/xbsoft
	removeReviewer = group user/xbsoft
	submit = group user/xbsoft
[access "refs/heads/*"]
	read = group user/xbsoft
	create = group user/xbsoft
	push = +force group user/xbsoft
	pushMerge = group user/xbsoft
[access "refs/tags/*"]
	push = +force group user/xbsoft
	pushTag = group user/xbsoft
	pushSignedTag = group user/xbsoft
